name: Decider Workflow

on:
  workflow_call:
    inputs:
      event_name:
        required: true
        type: string
      event:
        required: true
        type: string
      pr_action:
        required: false
        type: string
      review_state:
        required: false
        type: string
      course_id:
        required: true
        type: string
      available_assignments:
        required: true
        type: string
      student_id:
        required: true
        type: string
      kmom_paths:
        required: true
        type: string

jobs:
  on-pr-merged:
    if: ${{ inputs.event_name == 'pull_request' && fromJson(inputs.event).pull_request.merged == true }}
    uses: bth-python/utils/.github/workflows/on_merge.yml@main
    with:
      course_id: ${{ inputs.course_id }}
      student_id: ${{ inputs.student_id }}
      available_assignments: ${{ inputs.available_assignments }}
      event: ${{ inputs.event }}
    secrets: inherit

  on-pr-closed:
    if: ${{ inputs.event_name == 'pull_request' && inputs.pr_action == 'closed' && !fromJson(inputs.event).pull_request.merged == true }}
    uses: bth-python/utils/.github/workflows/closed_pr.yml@main
    with:
      pr_action: ${{ inputs.pr_action }}
      event: ${{ inputs.event }}
      course_id: ${{ inputs.course_id }}
      available_assignments: ${{ inputs.available_assignments }}
      student_id: ${{ inputs.student_id }}

  on-pr-opened:
    if: ${{ inputs.event_name == 'pull_request' && (inputs.pr_action == 'opened' || inputs.pr_action == 'synchronize')}}
    uses: bth-python/utils/.github/workflows/examiner.yml@main
    with:
      pr_action: ${{ inputs.pr_action  }}
      event: ${{ inputs.event }}
      course_id: ${{ inputs.course_id }}
      available_assignments: ${{ inputs.available_assignments }}
      student_id: ${{ inputs.student_id }}
      kmom_paths: ${{ inputs.kmom_paths }}

  on-requested-change:
    if: ${{ inputs.event_name == 'pull_request_review' && inputs.review_state == 'changes_requested' }}
    uses: bth-python/utils/.github/workflows/need_fix.yml@main
    with:
      event: ${{ inputs.event }}
      course_id: ${{ inputs.course_id }}
      student_id: ${{ inputs.student_id }}
      available_assignments: ${{ inputs.available_assignments }}
    secrets: inherit

  # on-other:
  #   if:
  #     ${{ !(inputs.event_name == 'pull_request' && inputs.pr_action == 'opened')
  #     && !(inputs.event_name == 'pull_request_review' && inputs.review_state == 'submitted')
  #     && !(inputs.event_name == 'push') }}
  #   uses: ./.github/workflows/workflow-for-other.yml
