name: Request change


on:
  workflow_call:
    inputs:
      course_id:
        required: true
        type: string
      available_assignments:
        required: true
        type: string
      student_id:
        required: true
        type: string

jobs:
  report-requested-changes-to-canvas:
    runs-on: ubuntu-latest
    steps:
      - name: Remove "PG" label. . Det gör inget om denna får error, ignorera
        uses: actions-ecosystem/action-remove-labels@v1
        with:
          github_token: ${{ secrets.READ_ORG_TOKEN }}
          labels: "PG"
        continue-on-error: true


      - name: Get last review comment
        id: last_review_comment
        uses: actions/github-script@v7
        with:
            github-token: ${{ secrets.READ_ORG_TOKEN }}
            script: |
              const { data: reviews } = await github.rest.pulls.listReviews({
                owner: context.repo.owner,
                repo: context.repo.repo,
                pull_number: context.payload.pull_request.number,
                per_page: 100
              });
              if (reviews.length > 0) {
                const lastReview = reviews[reviews.length - 1];
                core.setOutput('last_review_body', lastReview.body || '');
                core.setOutput('last_review_user', lastReview.user.login);
                const reviewUrl = `https://github.com/${context.repo.owner}/${context.repo.repo}/pull/${context.payload.pull_request.number}#pullrequestreview-${lastReview.id}`;
                core.setOutput('last_review_url', reviewUrl);
              }

      - name: Create comment
        id: created_comment
        run: |
          cat << EOF >> $GITHUB_OUTPUT
          myoutput<<EOM
          Review State: Needs improvement
          Review Comment:
          ${{ steps.last_review_comment.outputs.last_review_body }} 


          Reviewer: ${{ steps.last_review_comment.outputs.last_review_user }}
          Review URL: ${{ steps.last_review_comment.outputs.last_review_url }}
          EOM
          EOF

      - uses: bth-python/utils/.github/actions/get-assignment-id@main
        id: resolve
        with:
          available_assignments: ${{ inputs.available_assignments }}

      - name: Update Canvas with need to fix
        uses: bth-python/utils/.github/actions/update-canvas@main
        with:
          subcommand: "grade_submission"
          grade: "Ux"
          comment: "${{ steps.created_comment.outputs.myoutput }}"
          canvas_api_token: ${{ secrets.CANVAS_API_TOKEN }}
          course_id: ${{inputs.course_id}}
          assignment_id: ${{ steps.resolve.outputs.assignment }}
          student_id: ${{ inputs.student_id }}
          read_org_token: "${{ secrets.READ_ORG_TOKEN }}"

