name: Submit assignment to canvas

on:
  workflow_call:
    inputs:
      course_id:
        required: true
        type: string
      available_assignments:
        required: true
        type: string
      student_id:
        required: true
        type: string

jobs:
  submit-canvas:
    runs-on: ubuntu-latest
    steps:
      - name: Create body
        id: created_body
        run: |
          cat << EOF >> $GITHUB_OUTPUT
          myoutput<<EOM
          Pull Request action: ${{ github.event.action }}<br>
          <br>
          <h2>${{github.event.pull_request.title}}<br></h2>
          ${{github.event.pull_request.body}}<br>
          <br>
          PR URL: <a class='inline_disabled' href='${{ github.event.pull_request.html_url }}' target='_blank' rel='noopener noreferrer'>${{ github.event.pull_request.html_url }}</a>
          EOM
          EOF

      - uses: bth-python/utils/.github/actions/get-assignment-id@main
        id: resolve
        with:
          available_assignments: ${{ inputs.available_assignments }}

      - name: Update Canvas result from tests
        uses: bth-python/utils/.github/actions/update-canvas@main
        with:
          subcommand: "submit_assignment"
          comment: "${{ steps.created_body.outputs.myoutput }}"
          canvas_api_token: ${{ secrets.CANVAS_API_TOKEN }}
          student_id: ${{ inputs.student_id }}
          course_id: ${{inputs.course_id}}
          assignment_id: ${{ steps.resolve.outputs.assignment }}
          read_org_token: "${{ secrets.READ_ORG_TOKEN }}"